<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--load all Fontawesome styles -->
  <link href="../../resources/static/css/fa-all.css"
        th:href="@{/resources/static/css/fa-all.css}"
        rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Task</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <!-- Image and text -->
  <a class="navbar-brand" href="tasks.html" th:href="@{/tasks}">
    <img src="../../resources/static/img/logo.svg"
         th:src="@{/resources/static/img/logo.svg}"
         width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    STaskList
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>

<section id="error">
  <div class="container-fluid">
    <h1>Oops...</h1>
    <h2>Something went wrong.</h2>
    <a href="/" class="btn btn-secondary">GO HOME</a>
  </div>
</section>

<footer>
  <hr/>
  <p class="text-center">&copy; 2020</p>
</footer>

</body>
</html>