<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{300} - %msg%n</pattern>
        </encoder>
    </appender>

    <root name="com.smachek" level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>